@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import "tailwindcss";

@theme {
  /* 🎨 پالت رنگ‌ها */
  --color-primary: #000000; /* مشکی اصلی */
  --color-secondary: #030014; /* مشکی با ته بنفش */
  --color-accent: #ffd93d; /* زرد زرئو */
  --color-highlight: #ff4c29; /* نارنجی قرمز برای جزئیات */
  --color-light-100: #f3e9b8; /* زرد کم‌رنگ برای متن روشن */
  --color-light-200: #d8c774;
  --color-gray-100: #9ca4ab;
  --color-dark-100: #0f0d23;

  --font-dm-sans: DM Sans, sans-serif;
  --font-bebas: "Bebas Neue", sans-serif;

  --breakpoint-xs: 480px;

  --background-image-hero-pattern: radial-gradient(
    circle at top center,
    rgba(255, 217, 61, 0.95) 0%,
    rgba(255, 140, 0, 0.8) 25%,
    rgba(30, 20, 0, 0.6) 55%,
    rgba(0, 0, 0, 0.95) 85%,
    #000000 100%
  );
}

@layer base {
  body {
    font-family: var(--font-dm-sans);
    background: var(--color-primary);
    color: #fff;
  }

  h1 {
    @apply mx-auto max-w-4xl text-center text-5xl font-bold leading-tight tracking-[-1%] text-white sm:text-[64px] sm:leading-[76px];
  }

  h2 {
    @apply text-2xl font-bold text-light-100 sm:text-3xl;
  }

  main {
    @apply min-h-screen relative bg-primary;
  }

  header {
    @apply sm:mt-10 mt-5;
  }

  header img {
    @apply w-full max-w-lg h-auto object-contain mx-auto drop-shadow-[0_0_25px_#ffd93d60];
  }
}

@layer components {
  .pattern {
    @apply bg-hero-pattern w-full h-screen bg-center bg-cover absolute z-0;
  }

  .wrapper {
    @apply px-5 py-12 xs:p-10 max-w-7xl mx-auto flex flex-col relative z-10;
  }

  .trending {
    @apply mt-20;

    & ul {
      @apply flex flex-row overflow-y-auto gap-5 -mt-10 w-full hide-scrollbar;
    }

    & ul li {
      @apply min-w-[230px] flex flex-row items-center;
    }

    & ul li p {
      @apply fancy-text mt-[22px] text-nowrap;
    }

    & ul li img {
      @apply w-[127px] h-[163px] rounded-lg object-cover -ml-0;
    }
  }

  .search {
    @apply w-full lg:min-w-lg md:min-w-md bg-light-100/10 px-4 py-3 rounded-lg mt-10 max-w-3xl  backdrop-blur-sm border border-light-200/20;

    & div {
      @apply relative flex items-center;
    }

    & img {
      @apply absolute left-2 h-5 w-5;
    }

    & input {
      @apply w-full bg-transparent py-2 sm:pr-10 pl-10 text-base text-light-100 placeholder-light-200 outline-none;
    }

    /* & input:focus {
      @apply border-b border-accent;
    } */
  }

  .all-movies {
    @apply space-y-6 mt-8;

    & ul {
      @apply grid grid-cols-1 gap-5 xs:grid-cols-2 md:grid-cols-3 lg:grid-cols-4;
    }
  }

  .movie-card {
    @apply bg-dark-100 p-5 rounded-2xl shadow-inner shadow-light-100/10 hover:shadow-[0_0_20px_#ffd93d40] transition-shadow duration-300;

    & img {
      @apply rounded-lg h-auto w-full;
    }

    & h3 {
      @apply text-light-100 font-bold text-base line-clamp-1;
    }

    & .content {
      @apply mt-2 flex flex-row items-center flex-wrap gap-2;
    }

    & .rating {
      @apply flex flex-row items-center gap-1;
    }

    & .rating img {
      @apply size-4 object-contain;
    }

    & .rating p {
      @apply font-bold text-base text-accent;
    }

    & .content span {
      @apply text-sm text-gray-100;
    }

    & .content .lang,
    & .content .year {
      @apply text-light-200 font-medium text-base;
    }
  }
}

@utility text-gradient {
  @apply bg-linear-to-r from-[#FFD93D] to-[#FF4C29] bg-clip-text text-transparent;
}

@utility fancy-text {
  -webkit-text-stroke: 3px #ffd93d;
  font-size: 180px;
  font-family: var(--font-bebas);
  color: transparent;
  text-shadow: 0 0 25px #ff4c2960;
}

@utility hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.no-results {
  text-align: center;
  color: var(--color-light-100);
  font-size: 1.125rem;
  font-weight: 600;
  padding: 2rem 1rem;
}
